<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net471" />
</packages>